<html>

    <head>

        <title>MorTeam - <%= page %></title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:700,300,400" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Exo+2:400,300,200" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" />

        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    </head>

    <body style="background-color: #E9E9E9;">

        <div id="allContent"></div>

        <script type="text/javascript">
            window.__userInfo = <%- JSON.stringify(userInfo || null) %>;
        </script>

        <script src="/js/vendor"></script>
        <script src="/js/<%= page %>"></script>

        <script type="text/javascript">
            // each root jsx file has to define the global variable __pageInit
            // it must contain Page, React, and ReactDOM
            // global variables ftw
            window.__pageInit.ReactDOM.render(
                window.__pageInit.React.createElement(
                    window.__pageInit.Page,
                    null
                ),
                document.getElementById("allContent")
            );
        </script>

    </body>

</html>
